<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vany.excleuploadsqlite">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.ViewDetails"
            android:label="@string/view_activity_name"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Excel.UploadExcel"
            android:label="@string/upload_excle"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Excel.ExportExcel"
            android:label="@string/export_excle"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Dashboard"
            android:label="@string/dashborad"
            android:parentActivityName=".MainActivity" />
    </application>
</manifest>